/src/server/core-system/nbproject/private/
/src/server/core-system/core-system-war/nbproject/private/
/src/server/core-system/core-system-ejb/nbproject/private/
/src/server/core-system/core-system-war/dist/
/src/server/core-system/core-system-war/build/
/src/server/core-system/core-system-ejb/dist/
/src/server/core-system/core-system-ejb/build/
/src/server/core-system/build/
/src/server/core-system/dist/
src/server/core-system/nbproject/project.properties
src/server/core-system/core-system-ejb/src/conf/META-INF/glassfish-resources.xml
src/server/core-system/core-system-ejb/src/conf/META-INF/glassfish-resources.xml
