/project/application/nbproject/
/project/application/cscs-war/nbproject/
/project/application/cscs-ejb/nbproject/
/project/application/cscs-ejb/build/
/project/application/build/
/project/application/cscs-war/build/
/project/application/cscs-ejb/dist/
/project/application/cscs-war/dist/
/project/application/dist/
